In [30]:
import pandas as pd
import statsmodels.api as sm
import pandas as pd 
import numpy as np 

# Load
df = pd.read_csv("historical_data.csv")

# One-hot encode categoricals
df = pd.get_dummies(df, columns=["province", "carcolour"], drop_first=True)
bool_cols = df.select_dtypes(include=["bool"]).columns
df[bool_cols] = df[bool_cols].astype(int)

In [29]:
# Response variable
y = df["claims"]

# Predictors (exclude 'id', 'claims', 'exp_years')
X = df.drop(columns=["id", "claims", "exp_years"])

# Add constant
X = sm.add_constant(X)

# Fit model with exposure offset
model = sm.GLM(
    y,
    X,
    family=sm.families.Poisson(),
    offset=np.log(df["exp_years"])
).fit()

print(model.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 claims   No. Observations:                80000
Model:                            GLM   Df Residuals:                    79980
Model Family:                 Poisson   Df Model:                           19
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -32288.
Date:                Mon, 17 Nov 2025   Deviance:                       43565.
Time:                        08:41:10   Pearson chi2:                 8.09e+04
No. Iterations:                     6   Pseudo R-squ. (CS):            0.01824
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
const               -1.4256      0.285     -5.003      0.000      -1.984      -0.867
hp                   0.0022      0.000     15.417      0.000       0.002       0.002
gender               0.1117      0.019      5.909      0.000       0.075       0.149
age                 -0.0262      0.015     -1.722      0.085      -0.056       0.004
lic_years            0.0101      0.015      0.665      0.506      -0.020       0.040
pastclaims           0.0795      0.009      9.324      0.000       0.063       0.096
province_FS          0.0471      0.039      1.197      0.231      -0.030       0.124
province_GP         -0.0071      0.037     -0.194      0.846      -0.079       0.064
province_KZN         0.0611      0.038      1.627      0.104      -0.013       0.135
province_LIM         0.0742      0.096      0.769      0.442      -0.115       0.263
province_MP          0.0377      0.047      0.797      0.425      -0.055       0.130
province_NC          0.1177      0.109      1.077      0.281      -0.096       0.332
province_NW          0.0150      0.042      0.357      0.721      -0.067       0.097
province_WC          0.0015      0.034      0.043      0.966      -0.065       0.068
carcolour_Blue       0.0320      0.042      0.755      0.450      -0.051       0.115
carcolour_Green      0.0764      0.042      1.837      0.066      -0.005       0.158
carcolour_Red        0.0738      0.033      2.227      0.026       0.009       0.139
carcolour_Silver     0.1261      0.037      3.422      0.001       0.054       0.198
carcolour_White      0.0656      0.030      2.224      0.026       0.008       0.123
carcolour_Yellow     0.0550      0.047      1.181      0.238      -0.036       0.146
====================================================================================

In [15]:
new_df = pd.read_csv("new_policies.csv")

In [16]:
new_df.head()

   id province carcolour   hp  gender  age  lic_years  pastclaims  exp_years
0   1       WC     White  218       1   29         11           2   0.481862
1   2       FS     White  189       0   27          8           2   0.232717
2   3       GP      Blue  166       1   31         13           0   0.169747
3   4       GP    Yellow   94       0   31         13           0   0.156057
4   5       MP      Blue  308       0   33         15           0   0.427105

In [17]:
new_df = pd.get_dummies(new_df, columns=["province", "carcolour"], drop_first=True)
bool_cols = new_df.select_dtypes(include=["bool"]).columns
new_df[bool_cols] = df[bool_cols].astype(int)

In [18]:
new_df.head()

,id,hp,gender,age,lic_years,pastclaims,exp_years,province_FS,province_GP,province_KZN,...,province_MP,province_NC,province_NW,province_WC,carcolour_Blue,carcolour_Green,carcolour_Red,carcolour_Silver,carcolour_White,carcolour_Yellow
0,1,218,1,29,11,2,0.481862,0,0,0,...,1,0,0,0,1,0,0,0,0,0
1,2,189,0,27,8,2,0.232717,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,3,166,1,31,13,0,0.169747,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,4,94,0,31,13,0,0.156057,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,5,308,0,33,15,0,0.427105,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [19]:
X_new = new_df.drop(columns=["id", "exp_years"])
X_new = sm.add_constant(X_new)

In [20]:
X.head()

,const,hp,gender,age,lic_years,pastclaims,province_FS,province_GP,province_KZN,province_LIM,province_MP,province_NC,province_NW,province_WC,carcolour_Blue,carcolour_Green,carcolour_Red,carcolour_Silver,carcolour_White,carcolour_Yellow
0,1.0,74,0,18,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,1.0,283,0,81,63,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,1.0,122,0,54,35,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0
3,1.0,172,0,39,21,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,1.0,161,0,54,35,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0

In [21]:
prediction = model.predict(X_new, offset=np.log(new_df["exp_years"]))

c:\Users\Armandt\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [22]:
prediction

0        0.137353
1        0.056276
2        0.035942
3        0.023374
4        0.113807
           ...
14547    0.040070
14548    0.048379
14549    0.069917
14550    0.043779
14551    0.004666
Name: exp_years, Length: 14552, dtype: float64

In [23]:
annual_frequency = prediction / new_df["exp_years"]

In [24]:
annual_frequency

0        0.285047
1        0.241820
2        0.211741
3        0.149780
4        0.266461
           ...
14547    0.147832
14548    0.123570
14549    0.290197
14550    0.124923
14551    0.131109
Name: exp_years, Length: 14552, dtype: float64

In [27]:
simulated_claims = np.random.poisson(lam=prediction)
simulated_claims

array([0, 0, 0, ..., 0, 0, 0], shape=(14552,), dtype=int32)

In [34]:
from sklearn.linear_model import PoissonRegressor
from sklearn.model_selection import train_test_split

In [35]:
# new

# Response variable
y = df["claims"]

# Predictors (exclude 'id', 'claims', 'exp_years')
X = df.drop(columns=["id", "claims"])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
model = PoissonRegressor(alpha=1, fit_intercept=True, max_iter=1000)
model.fit(X_train, y_train, sample_weight=df.loc[y_train.index, "exp_years"])
y_pred = model.predict(X_test)

In [36]:
#from sklearn.metrics import mean_poisson_deviance
    # y_true and y_pred are arrays of true and predicted counts
#mpd = mean_poisson_deviance(y_true, y_pred)
from sklearn.metrics import (
    mean_absolute_error,
    mean_poisson_deviance,
    mean_squared_error,
)

In [38]:
y_pred

array([0.20527501, 0.12798628, 0.21128533, ..., 0.1834419 , 0.12324621,
       0.07873606], shape=(16000,))

In [41]:
mean_absolute_error(y_test, y_pred)

0.2579646637688003

In [42]:
mean_squared_error(y_test, y_pred)

0.1475550255297249

In [43]:
mean_poisson_deviance(y_test, y_pred)

0.575143575686425